{% extends 'base.html.twig' %}

{% block title %}Adoraiskevin.best Dev Php Symfony Présentationn Hobbies et Languages{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/about.css')}}">
{% endblock %}


{% block body %}
    <div class="container">
        <h2><span>Dev</span> FullStack PHP Symfony JS</h2>
        {% for text in aboutTexts %}
            <p>{{text.text}}</p>
        {% endfor %}
        <a href="{{asset('img/file/CV_Kevin.pdf')}}" download="CV_Kevin.pdf">Télécharger mon CV</a>
    </div>
    <section>
        <h2>1. Mes Informations</h2>
        <div class="aboutContent">
            <img src="{{ asset('img/photo.jpg') }}">
            <div class="aboutContentInfos">
                <ul>
                    <li>Nom : {{ abouts.0.firstName }}</li>
                    <li>Prénom : {{ abouts.0.lastName }}</li>
                    <li>Age : {{ age }}</li>
                    <li>Permis : {{ abouts.0.license }}</li>
                    <li>Localisation : {{ abouts.0.location }}</li>
                </ul>
                <a href="{{ path('about_edit', {'id': abouts.0.id}) }}">modifier</a>
                <h3>Reseaux Sociaux</h3>
                <div class="socialNetwork">
                    <a href="{{ abouts.0.github }}"><i class="fab fa-github"></i></a>
                    <a href="{{ abouts.0.linkedin }}"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>     
        </div>
    </section>
    <section>
        <h2>2. Langues Parlées</h2>
        <div class="languages">
            {% for lang in languages %}
            <div class="languageCard">
                <img src="{{ asset(lang.imgLink) }}">
                <p>{{ lang.level }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section>
        <h2>3. Mes Hobbies</h2>
        <div class="hobbies">
            {% for lang in languages %}
            <div class="hobbieCard">
                <p>Element <a href="#">X</a></p>
            </div>
            {% endfor %}
        </div>
    </section>

    <a href="{{ path('about_new') }}">Create new</a>
    <a href="{{ path('aboutText_new') }}">Create new text</a>
    <a href="{{ path('lang_new') }}">Create new languages</a>
{% endblock %}
