{% extends 'base.html.twig' %}

{% block title %}{{ app.request.server.get('DOMAIN') }} Dev Php Symfony Présentationn Hobbies et Languages{% endblock %}

{% block stylesheets %}
    <link rel="icon" href="{{asset('logo.png')}}" type="image/x-icon">
    <link rel="manifest" href="{{asset('manifest.json')}}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/about.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/about_responsive.css')}}">
{% endblock %}


{% block body %}
    <div class="container">
        <h2><span>Dev</span> FullStack PHP Symfony JS</h2>
        {% for text in aboutTexts %}
            <p>{{text.text}} {% if app.user %}<a href="{{ path('text_edit', {'id': text.id}) }}">M</a> <a href="{{ path('text_delete', {'id': text.id}) }}">X</a>{% endif %}</p>
        {% endfor %}
        <a class="button" href="{{asset('file/CV_Kevin.pdf')}}" download="CV_Kevin.pdf">Télécharger mon CV</a>
    </div>
    <section>

        <!-- MES INFOS -->

        <h2>1. Mes Informations</h2>
        <div class="aboutContent">
            <img src="{{ asset('img/photo.jpg') }}">
            <div class="aboutContentInfos">
                <ul>
                    <li>Nom : {{ abouts.0.firstName }}</li>
                    <li>Prénom : {{ abouts.0.lastName }}</li>
                    <li>Age : {{ age }}</li>
                    <li>Permis : {{ abouts.0.license }}</li>
                    <li>Localisation : {{ abouts.0.location }}</li>
                </ul>
                {% if app.user %}<a href="{{ path('about_edit', {'id': abouts.0.id}) }}">modifier</a>{% endif %}
                <h3>Reseaux Sociaux</h3>
                <div class="socialNetwork">
                    <a href="{{ abouts.0.github }}"><i class="fab fa-github"></i></a>
                    <a href="{{ abouts.0.linkedin }}"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>     
        </div>
    </section>

    <!-- MES LANGUES -->

    <section>
        <h2>2. Langues Parlées</h2>
        <div class="languages">
            {% for lang in languages %}
            <div class="languageCard">
                <img src="{{ asset(lang.imgLink) }}">
                <p>{{ lang.level }}</p>
                {% if app.user %}<a href="{{ path('lang_edit', {'id': lang.id}) }}">Modifier</a>{% endif  %}
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- MES LOISIRS -->

    <section>
        <h2>3. Mes Loisirs</h2>
        <div class="hobbies">
            {% for hob in hobbies %}
            <div class="hobbieCard">
                <p>{{ hob.name }} {% if app.user %}<a href="{{path('hobbie_delete',{'id':hob.id})}}">X</a>{% endif %}</p>
            </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
