{% extends 'base.html.twig' %}

{% block title %}AdoraisKevin.best Se Connecter{% endblock %}

{% block stylesheets %}
    <link rel="icon" href="{{asset('logo.png')}}" type="image/x-icon">
    <link rel="manifest" href="{{asset('manifest.json')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/about.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/about_responsive.css')}}">
{% endblock %}

{% block body %}
<div class="form">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    
        <h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
        <label for="inputEmail">Identifiant</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Mot de Passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>
    
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
        <button class="btn btn-lg btn-primary" type="submit">
            Se Connecter
        </button>
    </form>
</div>


    
{% endblock %}
