{% extends 'base.html.twig' %}

{% block title %}AdoraisKevin.best Ajouter Compétence{% endblock %}

{% block stylesheets %}
    <link rel="icon" href="{{asset('logo.png')}}" type="image/x-icon">
    <link rel="manifest" href="{{asset('manifest.json')}}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/webskills.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/webskills_responsive.css')}}">
{% endblock %}

{% block body %}
    <div class="form">
        <h1>Ajouter Compétence</h1>

        {{ include('devSkills/_form.html.twig') }}

        <a href="{{ path('webskills_index') }}">Retour en arrière</a>
    </div>
{% endblock %}