<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1><span>A</span>dorais<span>K</span>évin<span>.</span>best</h1>
            <div class="navBarDiv">
                <a id="menuButton" class="noMenuButton" href="#">Menu</a>
                <nav id="navBar" class="noNavBar">
                    <a href="{{ path('services_index') }}">Mes Services</a>
                    <a href="{{ path('about_index') }}">Ma Présentation</a>
                    <a href="{{ path('projourney_index') }}">Mon Parcour</a>
                    <a href="#">Mes Compétences</a>
                </nav>
            </div>
        </header>
        {% if app.user %}Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se Déconnecter</a>{% endif %}

        {% block body %}{% endblock %}

        <footer>
            {% if app.user %}
                <a href="{{ path('text_new') }}">Ajouter Texte</a>
                <a href="{{ path('hobbie_new') }}">Ajouter Loisir</a>
                <a href="{{ path('qualif_new') }}">Ajouter Diplôme</a>
                <a href="{{ path('job_new') }}">Ajouter Emploi</a>
            {% endif %} 
            <a href="{{ path('app_login') }}">Se Connecter</a> 
            {% if app.user %}
                <a href="{{ path('app_logout') }}">Se Déconnecter</a>
            {% endif %}
        </footer>

        {% block javascripts %}
            <script type="text/javascript" src="{{asset('js/hamburgerMenu.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/readMore.js')}}"></script>
        {% endblock %}

    </body>
</html>
