{% extends 'base.html.twig' %}

{% block title %}Adoraiskevin.best Dev Php Symfony Parcours Professionnel : formations et éxpèriences{% endblock %}

{% block stylesheets %}
    <link rel="icon" href="{{asset('logo.png')}}" type="image/x-icon">
    <link rel="manifest" href="{{asset('manifest.json')}}">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/projourney.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/projourney_responsive.css')}}">
{% endblock %}

{% block body %}

        <!-- CONTAINER -->
    <div class="container">
        <h2><span>Dev</span> FullStack PHP Symfony JS</h2>
        <p>Sur cette page voici mon parcours professionel</p>
        <p>1. Mes Formations</p>
        <p>2. Mes Emplois</p>
        <a class="button" href="{{asset('file/CV_Kevin.pdf')}}" download="CV_Kevin.pdf">Télécharger mon CV</a>
    </div>
    
        <!-- MES DIPLOME -->
    <section>
        <h2>1. Mes Formations</h2>
        {% for qualif in qualifications %}
            <div class="qualifCard">
                <p class="qualifDate">{{ qualif.date }}</p> 
                <div class="qualifContent">
                    {% if qualif.link %}<a href="{{asset(qualif.link)}}"><i class="far fa-file-pdf"></i></a>{% endif %}
                    <p class="qualifTitle">{% if app.user %}{{ qualif.position }} . {% endif %}{{ qualif.name }}</p>
                    <p>{{ qualif.school }}</p>
                    <p>{{ qualif.description }}</p>
                </div>
                {% if app.user %}
                    <div class="qualifEdit">
                        <a href=" {{ path('qualif_edit', { 'id' : qualif.id }) }} ">M</a> 
                        <a href=" {{ path('qualif_delete', { 'id' : qualif.id }) }} ">X</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>

        <!-- MES EMPLOIS -->
    <hr>
    <section>
        <h2>2. Mes Emplois</h2>
        {% for job in jobs %}
            <div class="jobCard">
                <p class="qualifDate">{{ job.date }}</p> 
                <div class="qualifContent">
                    <p class="qualifTitle">{% if app.user %}{{ job.position }} . {% endif %}{{ job.name }} ({{ job.society }})</p>
                    <p>{{ job.description }}</p>
                </div>
                {% if app.user %}
                    <div class="qualifEdit">
                        <a href=" {{ path('job_edit', { 'id' : job.id }) }} ">M</a> 
                        <a href=" {{ path('job_delete', { 'id' : job.id }) }} ">X</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </section>  
{% endblock %}
