{% extends 'base.html.twig' %}

{% block title %}Adoraiskevin.best Dev Php Symfony Mes Compétences : technos, compétences et projets réalisés{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('css/webskills.css')}}">
{% endblock %}

{% block body %}

        <!-- CONTAINER -->
    <div class="container">
        <h2><span>Dev</span> FullStack PHP Symfony JS</h2>
        <p>Sur cette page voici mes compétences web</p>
        <p>1. Mes Projets Réalisés</p>
        <p>2. Mes Technos</p>
        <p>3. Mes Compétences Web</p>
        <a class="button" href="{{asset('file/CV_Kevin.pdf')}}" download="CV_Kevin.pdf">Télécharger mon CV</a>
    </div>

    <div class="mainBox">

        <!--PROJECTS-->
        <div class="projectsBox">
            <h2>Mes Projets</h2>
        </div>
            
        <div class="technosSkills">

            <!--TECHNOS-->
            <h2>Mes Technos</h2>
            <div class="technos">
                {% for tech in technos %}
                    <div class="technoCard">
                        <img class="technoLogo" src="{{ asset('img/logos/' ~ tech.logo) }}" alt="{{ tech.alt }}">
                        {% if app.user %}<a href="{{path('techno_delete',{'id':tech.id})}}">X</a>{% endif %}
                    </div>
                {% endfor %}
            </div>

            <!--SKILLS-->
            <h2>Mes Compétences</h2>
            <div class="skills">
                {% for skill in devSkills %}
                    <div class="skillCard">
                        <p>{% if app.user %}<a href="{{path('skill_delete',{'id':skill.id})}}">X</a>{% endif %} {{ skill.name }}</p>    
                    </div>
                {% endfor %}
            </div> 

        </div>

    </div>
        
{% endblock %}
